body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
text-align: center!important;
	background-color: #003865!important;
	font-family: 'Domine', serif!important;
}
.root{
text-align: center;
	background-color: #003865;
	font-family: 'Domine', serif;
}

.list{
	margin: 0 auto;
	
}
.b{
	
	text-decoration:underline;
	color:#E87722;
	margin-bottom:5px;
	margin-top:5px;
}

.head{
	border-style: solid;
	border-color: black;
	border-width:1px;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: 	#007db3;
color:#E87722;

}

.content{
	border-style: solid;
	border-color: black;
	border-width:1px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: 	#002a4d;
}

.orng{
color:#E87722;
}

h1{
text-align: center;

}

p{

margin-bottom: 5px!important;
}
select{
margin-bottom: 10px!important;

}


ul{
padding-left:0;
}
.fill{
box-sizing: border-box;
font-size:15px;

}

.l{
margin-top:5px!important;
margin-bottom:5px!important;
font-size:25px;
}

.av{
margin-top:20px;
}

.underl{
text-decoration:underline; 

}
.bord{
border-style: solid;
	border-color: black;
	border-width:1px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: 	#002a4d;
	height:90%;
}

.icon{

opacity: 1;
height:125px;
width:125px;

}

.logo{
height: 96px;
width: 216px;
margin-top:10px;

}

h4{
margin-top:10px!important;
margin-bottom:10px!important;
}

.mb-10{
margin-bottom:10px!important;
}

h1{
font-size:45px!important;
}

.mt-0{
margin-top:0px;
}

.d{
font-size:20px;
}
.d2{
font-size:18px;
}

